.reveal-viewport {
    height: 100%;
    width: 100%;
    position: relative;
    overflow: visible;
    line-height: 1;
}
.reveal {
    position: absolute;
    font-family: 'Fenix', serif;
    color: #404040;
    height: 100%;
}

.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 {
    font-family: 'Squada One', 'Garamond', 'Georgia', sans-serif ;
    color: #303030;
    margin: 0 0 1em 0;
}
.reveal h1 {
     text-shadow: 0 1px 0 #cccccc,
         0 2px 0 #c9c9c9,
         0 3px 0 #bbbbbb,
         0 4px 0 #b9b9b9,
         0 5px 0 #aaaaaa,
         0 6px 1px rgba(0, 0, 0, 0.1),
         0 0 5px rgba(0, 0, 0, 0.1),
         0 1px 3px rgba(0, 0, 0, 0.3),
         0 3px 5px rgba(0, 0, 0, 0.2),
         0 5px 10px rgba(0, 0, 0, 0.25),
         0 20px 20px rgba(0, 0, 0, 0.15); }
}


.reveal .controls, .reveal .progress {
    position: absolute;
}
.reveal .controls div.navigate-left {
    border-right-color: #aaaaaa;
}
.reveal .controls div.navigate-right {
    border-left-color: #aaaaaa;
}
.reveal .controls div.navigate-up {
    border-bottom-color: #aaaaaa;
}
.reveal .controls div.navigate-down {
    border-top-color: #aaaaaa;
}
html,body{
    height: 100%;
    overflow-y: visible;
}

/* the following copied from slid.es */
@media screen and (min-height: 380px){html.decks.show .marquee .reveal-frame{height:320px}}
@media screen and (min-height: 424px){html.decks.show .marquee .reveal-frame{height:364px}}
@media screen and (min-height: 468px){html.decks.show .marquee .reveal-frame{height:408px}}
@media screen and (min-height: 512px){html.decks.show .marquee .reveal-frame{height:452px}}
@media screen and (min-height: 556px){html.decks.show .marquee .reveal-frame{height:496px}}
@media screen and (min-height: 600px){html.decks.show .marquee .reveal-frame{height:540px}}
@media screen and (min-height: 644px){html.decks.show .marquee .reveal-frame{height:584px}}
@media screen and (min-height: 688px){html.decks.show .marquee .reveal-frame{height:628px}}
@media screen and (min-height: 732px){html.decks.show .marquee .reveal-frame{height:672px}}
@media screen and (min-height: 776px){html.decks.show .marquee .reveal-frame{height:716px}}
@media screen and (min-height: 820px){html.decks.show .marquee .reveal-frame{height:760px}}
@media screen and (min-height: 864px){html.decks.show .marquee .reveal-frame{height:804px}}
@media screen and (min-height: 908px){html.decks.show .marquee .reveal-frame{height:848px}}
@media screen and (min-height: 952px){html.decks.show .marquee .reveal-frame{height:892px}}
@media screen and (min-height: 996px){html.decks.show .marquee .reveal-frame{height:936px}}
@media screen and (min-height: 1040px){html.decks.show .marquee .reveal-frame{height:980px}}
@media screen and (min-height: 1084px){html.decks.show .marquee .reveal-frame{height:1024px}}
@media screen and (min-height: 1128px){html.decks.show .marquee .reveal-frame{height:1068px}}
@media screen and (min-height: 1172px){html.decks.show .marquee .reveal-frame{height:1112px}}
@media screen and (min-height: 1216px){html.decks.show .marquee .reveal-frame{height:1156px}}
@media screen and (min-height: 1260px){html.decks.show .marquee .reveal-frame{height:1200px}}